<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello Fresh</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="main.bundle.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="https://www.hellofresh.com/" class="header__logo"><img src="https://www.hellofresh.com/images/hellofresh-logo.svg?v=3" alt="HelloFresh"></a>
        <button class="btn btn--primary header__login-btn">
            Login
        </button>
    </header>

{{{ body }}}

<!-- js -->
<script src="bundle.js"></script>
</body>
</html>