<section class="container">
    <div class="grid">
        <div class="col-12">
            <p class="lead">Register with us today to receive regular updates from the HelloFresh farm. Inspiring recipe ideas, the newest food trends and unique HelloFresh promotions are awaiting you. And, don't worry, we promise not to spam you with daily emails</p>
        </div>
    </div>
</section>