// Brand
$brand-green: #91c11e;
$brand-green-hover: #78a800;
$brand-gray: #efefef;
$brand-red: #D60000;

// Type
$text-color: #333;
$link-color: #4A90E2;
$link-hover-color: #4A90E2;
$footer-text-color: #B7B7B7;


// BG
$body-bg: #fdfcfa;

