// Media query variables
$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

* {
   box-sizing: border-box;
 }
*:before,
*:after {
  box-sizing: border-box;
}


// Body reset

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// Type

.lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}