// Mobile first approach

// Media query variables
$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

$gutter: 15px;


// --------------------------------------
// Setup Container
// --------------------------------------

/* for mobile phones */
.container {
  padding: 0 $gutter;
  margin: 0 auto;

  @include mobile-up { // bigger mobile or in landscape
    width: 576px;
  }

  @include tablet-up { // tablet
    width: 720px;
  }

  @include desktop-up { // desktop
    width: 960px;
  }

  @include large-desktop-up { // large desktop
    width: 1170px;
  }
}


// --------------------------------------
// Setup Grid row
// --------------------------------------

.grid {
  margin-left: -$gutter;
  margin-right: -$gutter;

  @extend .clearfix;
}


// --------------------------------------
// Setup Grid Columns and offsets
// --------------------------------------

// for mobile phones
[class*='col-'] {
  float: left;
  padding: 0 $gutter;
  width: 100%; // single col
}

[class*='col-offset-'] {
  padding-right: 0px;
}

// bigger mobile or in landscape
@include mobile-up {

  @include col-generator('xs');

  @include col-offset-generator('xs');
}

// tablet
@include tablet-up {

  @include col-generator('sm');

  @include col-offset-generator('sm');
}

// desktop
@include desktop-up {

  @include col-generator('md');

  @include col-offset-generator('md');
}

// large desktop
@include large-desktop-up {

  @include col-generator('lg');

  @include col-offset-generator('lg');
}
