.header {
  border-bottom: 1px solid $brand-gray;
  height: 70px;
  padding: 15px;
  width: 100%;
  margin-bottom: 35px;
  background: #fff;

  form {
    float: right;
  }
}

.header__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  img {
    width: 80px;
    transition: width 0.5s;
  }
}

.header__login-btn {
  float: right;
}

.header__user {
  font-size: 16px;
  margin-right: 15px;
  line-height: 38px;
}

// upto tablet
@include tablet {
  .header {
    position: fixed;
    z-index: $header-fixed-zindex;
  }
  .header__logo {
    img {
      width: 50px;
    }
  }
}