.header {
  border-bottom: 1px solid $brand-gray;
  height: 70px;
  padding: 15px;
}

.header__logo {
  position: absolute;
  left: 15px;
  top: 15px;
  img {
    width: 100px;
  }
}

.header__login-btn {
  float: right;
}